    {% load static %}

    {% url 'timelines:public' timeline.slug as timeline_public_url %}

    {% if request.path == timeline_public_url and not request.user.is_authenticated %}
    {% comment %} Don't display a footer on public Timeline URL to unauthenticated users. {% endcomment %}
    {% else %}
    <footer class="footer bg-dark pt-5 pt-md-6">
        <div class="container pt-3 pt-md-0">
            <div class="row pb-3">
                <div class="col-md-4 mt-n2 pb-3 pb-md-0 mb-4">
                    <a class="d-block mb-3" href="{% url 'home' %}">
                        <img src="{% static 'img/logo/timelinor-logo.svg' %}" width="80" alt="Timelinor">
                    </a>
                    <p class="fs-sm text-light opacity-60 pb-2 pb-sm-3">Timelinor. Create and manage timeline graphs for your portfolio or resume website. For free!</p>
                    <a class="btn-social bs-outline bs-facebook bs-light bs-lg me-2 mb-2" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="ai-facebook"></i></a>
                    <a class="btn-social bs-outline bs-twitter bs-light bs-lg me-2 mb-2" href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"><i class="ai-twitter"></i></a>
                </div>
            </div>
            <hr class="my-0 border-light">
            <div class="row align-items-center mt-3 py-4">
                <div class="col-md-6 order-md-1 mb-3">
                    <p class="fs-sm mb-0"><span class="text-light opacity-50 me-1">© All rights reserved.</p>
                    <p class="fs-sm mb-0">
                        <span class="text-light opacity-50 me-1"> Code by</span><a class="nav-link-style nav-link-light" href="https://raoulcapello.nl/" target="_blank" rel="noopener">Raoul Capello.</a>
                    </p>
                    <p class="fs-sm mb-0">
                        <a class="nav-link-style nav-link-light" href="https://around.createx.studio/" target="_blank" rel="noopener">Around Theme</a> by </span><a class="nav-link-style nav-link-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}
