        {% load static %}
        {% url 'home' as home_url %}
        {% url 'profile' as profile_url %}
        {% url 'timelines:list' as timeline_list_url %}
        {% url 'timelines:edit' timeline.id as timeline_edit_url %}
        {% url 'timelines:public' timeline.slug as timeline_public_url %}

        {% if request.path == timeline_public_url and not request.user.is_authenticated %}
        {% comment %} Don't display navbar on public Timeline URL to unauthenticated users. {% endcomment %}
        {% else %}
        {% if request.path != home_url and request.path != profile_url and request.path != timeline_list_url and request.path != timeline_edit_url %}
        {% comment %} Display a light navbar on certain pages. {% endcomment %}
        <header class="header navbar navbar-expand-lg navbar-light navbar-floating navbar-sticky" data-scroll-header data-fixed-element>
            {% else %}
            <header class="header navbar navbar-expand-lg navbar-dark navbar-floating navbar-sticky" data-scroll-header data-fixed-element>
                {% endif %}
                <div class="container px-0 px-xl-3">
                    <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href="{% url 'home' %}">
                        <img class="d-none d-lg-block" src="{% static 'img/logo/timelinor-logo.svg' %}" alt="Timelinor" width="80">
                        <img class="d-lg-none" src="{% static 'img/logo/timelinor-logo.svg' %}" alt="Timelinor" width="80">
                    </a>
                    <div class="d-flex align-items-center order-lg-3 ms-lg-auto">
                        {% if not request.user.is_authenticated %}
                        {% comment %} Display Sign In/Sign Up modals to unauthenticated users. {% endcomment %}
                        <a class="nav-link-style fs-sm text-nowrap" href="#modal-signin" data-bs-toggle="modal" data-view="#modal-signin-view">
                            <i class="ai-user fs-xl me-2 align-middle"></i>Sign in
                        </a>
                        <a class="btn btn-primary ms-grid-gutter d-none d-lg-inline-block" href="#modal-signin" data-bs-toggle="modal" data-view="#modal-signup-view">
                            Sign up
                        </a>
                        {% else %}
                        {% comment %} Display a user's avatar and a dropdown menu to authenticated users. {% endcomment %}
                        <div class="navbar-tool dropdown">
                            <a class="navbar-tool-icon-box" href="{% url 'profile' %}">
                                {% if request.user.image %}
                                <img class="navbar-tool-icon-box-img" src="{{ request.user.image.url|default_if_none:"/static/img/avatar.svg" }}" alt="Avatar">
                                {% else %}
                                <img class="navbar-tool-icon-box-img" src="{% static 'img/avatar.svg' %}" alt="Avatar">
                                {% endif %}
                            </a>
                            <a class="navbar-tool-label dropdown-toggle" href="{% url 'profile' %}">
                                <small>Hello,</small>{{ request.user.first_name|default:request.user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" style="width: 15rem;">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                                        <i class="ai-log-out fs-base opacity-60 me-2"></i>Sign out
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                        <div class="offcanvas-header navbar-shadow">
                            <h5 class="mt-1 mb-0">Menu</h5>
                            <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <!-- Menu-->
                            <ul class="navbar-nav">
                                {% if request.user.is_authenticated %}
                                {% comment %} Display a menu with personal options to authenticated users. {% endcomment %}
                                <li class="nav-item dropdown dropdown-mega">
                                    <a class="nav-link dropdown-toggle" href="{% url 'timelines:list' %}" data-bs-toggle="dropdown">My Timelinor</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-column dropdown-column-img" href="{% url 'timelines:list' %}" style="background-image: url({% static 'img/logo/timelinor-logo.svg' %});"></a>
                                        <div class="dropdown-column">
                                            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
                                        </div>
                                        <div class="dropdown-column">
                                            <a class="dropdown-item" href="{% url 'timelines:list' %}">My Timelines</a>
                                        </div>
                                    </div>
                                </li>
                                {% else %}
                                <li class="nav-item{% if request.path == home_url %} active{% endif %}"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            {% endif %}
