                <!-- Reset Password Modal -->
                <div class="modal" id="reset-password-modal" tabindex=" -1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Reset password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="post" action="{% url 'logged_in_password_reset' %}" class="needs-validation" novalidate>
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p class="fs-sm">Reset password.</p>
                                    <div class="mb-3 password-toggle">
                                        {{ password_reset_form.current_password }}
                                        {{ password_reset_form.current_password.errors }}
                                        <div class="invalid-feedback">Please enter a valid password!</div>
                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox">
                                            <span class="password-toggle-indicator"></span>
                                        </label>
                                    </div>
                                    <div class="mb-3 password-toggle">
                                        {{ password_reset_form.new_password1 }}
                                        {{ password_reset_form.new_password1.errors }}
                                        <div class="invalid-feedback">Please enter a valid password!</div>
                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox">
                                            <span class="password-toggle-indicator"></span>
                                        </label>
                                    </div>
                                    <div class="mb-3 password-toggle">
                                        {{ password_reset_form.new_password2 }}
                                        {{ password_reset_form.new_password2.errors }}
                                        <div class="invalid-feedback">Please enter a valid password!</div>
                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                            <input class="password-toggle-check" type="checkbox">
                                            <span class="password-toggle-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-sm">Reset password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
