{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Timelinor | {% block title %}Timeline Creator{% endblock title %}</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'partials/_head.html' %}
    {% block head %}{% endblock head %}

</head>

{% block body_tag %}

<body>{% endblock body_tag %}

    <main class="page-wrapper">

        {% block modal %}
        <!-- Sign In Modal-->
        {% include 'partials/_signin_modals.html' %}
        {% endblock modal %}

        {% block navbar %}
        <!-- Navbar -->
        {% include 'partials/_nav_top.html' %}
        {% endblock navbar %}

        {% block slanted_background %}{% endblock slanted_background %}

        {% block messages_top %}
        <!-- Messages -->
        <div class="container pt-7">
            {% include 'partials/_messages.html' %}
        </div>
        {% endblock messages_top %}

        {% block main %}
        <!-- Content-->
        {% block content %}{% endblock content %}
        {% endblock main %}

    </main>

    <!-- Footer-->
    {% include 'partials/_footer.html' %}

    <!-- Back to top button-->
    <a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
        <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
        <i class="btn-scroll-top-icon ai-arrow-up"> </i>
    </a>

    <!-- Scripts -->
    {% block scripts %}{% endblock scripts %}
    {% include 'partials/_scripts.html' %}

</body>

</html>
