    {% load static %}
    <footer class="footer bg-dark pt-5 pt-md-6">
        <div class="container pt-3 pt-md-0">
            <div class="row pb-3">
                <div class="col-md-4 mt-n2 pb-3 pb-md-0 mb-4">
                    <a class="d-block mb-3" href="home.html">
                        <img src="{% static 'img/logo/timelinor-logo.svg' %}" width="80" alt="Timelinor">
                    </a>
                    <p class="fs-sm text-light opacity-60 pb-2 pb-sm-3">Timelinor. Create your own timelines for your portfolio or resume website.</p>
                    <a class="btn-social bs-outline bs-facebook bs-light bs-lg me-2 mb-2" href="#"><i class="ai-facebook"></i></a>
                    <a class="btn-social bs-outline bs-twitter bs-light bs-lg me-2 mb-2" href="#"><i class="ai-twitter"></i></a>
                    <a class="btn-social bs-outline bs-instagram bs-light bs-lg me-2 mb-2" href="#"><i class="ai-instagram"></i></a><a class="btn-social bs-outline bs-google bs-light bs-lg me-2 mb-2" href="#"><i class="ai-google"></i></a>
                </div>
                <!-- <div class="col-md-2 col-sm-6 ms-auto pb-1 mb-4">
                        <div class="widget widget-light">
                            <h4 class="widget-title">My Timelines</h4>
                            <ul>
                                <li><a class="widget-link" href="#">Create New Timeline</a></li>
                                <li><a class="widget-link" href="#">Edit Existing Timeline</a></li>
                                <li><a class="widget-link" href="#">View My Timelines</a></li>
                            </ul>
                        </div>
                    </div> -->
                <!-- <div class="col-lg-2 col-md-3 col-sm-4 pb-1 mb-4">
                        <div class="widget widget-light">
                            <h4 class="widget-title">Account</h4>
                            <ul>
                                <li><a class="widget-link" href="#">Sign In</a></li>
                                <li><a class="widget-link" href="#">Register</a></li>
                            </ul>
                        </div>
                    </div> -->
            </div>
            <hr class="my-0 border-light">
            <div class="row align-items-center mt-3 py-4">
                <div class="col-md-6 order-md-2 text-md-end mb-3">
                    <ul class="list-inline fs-sm mb-0">
                        <li class="list-inline-item"><a class="nav-link-style nav-link-light" href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-6 order-md-1 mb-3">
                    <p class="fs-sm mb-0"><span class="text-light opacity-50 me-1">© All rights reserved.</p>
                    <p class="fs-sm mb-0"><span class="text-light opacity-50 me-1"> Code by</span><a class="nav-link-style nav-link-light" href="https://raoulcapello.nl/" target="_blank" rel="noopener">Raoul Capello.</a> Theme made by </span><a class="nav-link-style nav-link-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio.</a></p>
                    <p class="fs-sm mb-0"><span class="text-light opacity-50 me-1">Avatar icon made by </span><a href="https://creativemarket.com/Becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
                </div>
            </div>
        </div>
    </footer>
