                {% extends 'timelinor/base.html' %}
                {% load static %}

                {% block head %}
                <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
                {% endblock head %}

                {% block content %}

                <!-- Page content-->

                <!-- Project title-->
                <section class="container">
                    <div class="row">

                        <div class="col-9">
                            <h1 class="h2">{{ timeline.title }}</h1>

                            <!-- Home icon -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        {% if timeline.button %}
                                        <a href="{{ timeline.button_url }}">
                                            <i class="ai-home"></i>
                                            {{ timeline.button_text }}
                                        </a>
                                        {% else %}
                                        <a href="#">
                                            <i class="ai-home"></i>
                                            Home
                                        </a>
                                        {% endif %}
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ timeline.title }}</li>
                                </ol>
                            </nav>

                        </div> <!-- /.col -->

                        <div class="col-3 d-flex justify-content-end">
                            {% if timeline.button %}
                            <!-- Primary outline button -->
                            <a href="{{ timeline.button_url }}">
                                <button type="button" class="btn btn-primary">
                                    <i class="ai-home me-2"></i>
                                    {{ timeline.button_text }}
                                </button>
                            </a>
                            {% endif %}
                        </div> <!-- /.col -->

                    </div> <!-- /.row -->
                </section>

                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline">

                                {% for event in events %}

                                <div class="timeline">
                                    <div class="timeline-icon">
                                        <i class="fa fa-{% cycle 'globe' 'rocket' 'briefcase' 'mobile' %}"></i>
                                    </div>
                                    <span class="year">{{ event.title }}</span>
                                    <div class="timeline-content">
                                        <h5 class="title">{{ event.subtitle }}</h5>
                                        <p class="description">
                                            {{ event.description }}
                                        </p>
                                    </div>
                                </div> <!-- /.timeline-->

                                {% empty %}

                                <p>
                                    You don't have any timeline events yet for this timeline. Create some now!
                                </p>

                                {% endfor %}

                            </div> <!-- /.main-timeline -->
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->

                {% endblock content %}
