        {% extends 'timelinor/base.html' %}
        {% load static %}

        {% block content %}
        <!-- Hero-->
        <section class="jarallax bg-dark pt-5 pt-lg-7 pb-7" data-jarallax data-speed="0.3">
            <div class="jarallax-img" style="background-image: url({% static 'img/cubes-bg.jpg' %});"></div>
            <div class="shape shape-bottom shape-curve bg-body">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                    <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
                </svg>
            </div>
            <!-- Text-->
            <div class="container position-relative zindex-5 text-center pt-6 pt-lg-7">
                <h2 class="fs-xl fw-normal text-light">Create your own timeline graphs that look great as part of any resume or portfolio!</h2>
                <h1 class="text-light">Timelinor</h1>
            </div>
            <div class="d-block d-sm-none" style="height: 100px;"></div>
            <div class="d-none d-sm-block d-lg-none" style="height: 300px;"></div>
            <div class="d-none d-lg-block" style="height: 400px;"></div>
        </section>

        <!-- Featured Projects (carousel)-->
        <section class="container position-relative zindex-5">
            <div class="d-block d-sm-none" style="margin-top: -160px;"></div>
            <div class="d-none d-sm-block d-lg-none" style="margin-top: -360px;"></div>
            <div class="d-none d-lg-block" style="margin-top: -450px;"></div>
            <div class="frame-browser border-light tns-carousel-wrapper mx-auto" style="max-width: 915px;">
                <div class="frame-browser-toolbar">
                    <div class="text-nowrap me-3">
                        <span class="frame-browser-button bg-danger"></span>
                        <span class="frame-browser-button bg-warning"></span>
                        <span class="frame-browser-button bg-success"></span>
                    </div>
                    <span class="tns-carousel-label fs-sm text-light opacity-75">https://timelinor.com</span>
                </div>
                <div class="frame-browser-body">
                    <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;controls&quot;: false, &quot;speed&quot;: 3000, &quot;nav&quot;: false, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 10000}">
                        <div data-carousel-label="https://timelinor.com"><img class="rounded" src="{% static 'img/showcase-1.png' %}" alt="Screenshot"></div>
                        <!-- <div data-carousel-label="https://timelinor.com"><img class="rounded" src="{% static 'img/showcase-2.png' %}" alt="Screenshot"></div>
                                <div data-carousel-label="https://timelinor.com"><img class="rounded" src="{% static 'img/showcase-5.png' %}" alt="Screenshot"></div>
                                <div data-carousel-label="https://timelinor.com"><img class="rounded" src="{% static 'img/showcase-4.png' %}" alt="Screenshot"></div>
                                <div data-carousel-label="https://timelinor.com"><img class="rounded" src="{% static 'img/showcase-3.png' %}" alt="Screenshot"></div> -->
                    </div>
                </div>
                <div class="tns-carousel-pager pt-4 text-nowrap text-center mt-2 mb-n2">
                    <button class="active" data-nav data-goto="1"></button>
                    <!-- <button data-nav data-goto="2"></button>
                            <button data-nav data-goto="3"></button>
                            <button data-nav data-goto="4"></button>
                            <button data-nav data-goto="5"></button> -->
                </div>
            </div>
        </section>

        <!-- Features-->
        <section class="container pt-5 pt-lg-6">
            <h2 class="text-center">Leave a lasting impression</h2>
            <p class="text-center text-muted mb-0">Create a beautiful, concise, and professionally looking timeline in minutes!</p>
            <!-- Features -->
            <div class="row align-items-center border-bottom py-5">
                <div class="col-md-6 py-3"><img class="d-block mx-auto" src="{% static 'img/01.svg' %}" alt="Responsive Web Design"></div>
                <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 py-3">
                    <h3 class="h4 mb-4">Features</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex mb-2 pb-1"><i class="ai-check-circle text-success fs-xl mt-1 me-3"></i><span>Create and permanently save as many timelines as you'd like</span></li>
                        <li class="d-flex mb-2 pb-1"><i class="ai-check-circle text-success fs-xl mt-1 me-3"></i><span>Responsive design</span></li>
                        <li class="d-flex mb-2 pb-1"><i class="ai-check-circle text-success fs-xl mt-1 me-3"></i><span>100% free!</span></li>
                    </ul>
                    <a class="fw-medium" href="register.html">Sign up now<i class="ai-chevron-right fs-xl ms-1 align-middle"></i></a>
                </div>
            </div>
            {% endblock content %}
